.body{
    margin:0!important;
    padding: 0;
  }

.main{
    float: left;
}

.buy-button{
    width: 180px;
    height: 40px;
    background-color: rgb(74, 23, 190);
    border-radius:2.5%;
    color:#ffffff;
    font-size:1.2rem;
    border:none;
}

.text-design{
    color: rgb(98, 176, 110);
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 60px;
}

